<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <link href="/static/css/categories.css" rel="stylesheet" />
</head>
<body>
    <header th:insert="general.html :: header"> </header>
    <div class="container">
        <th:block th:each="pathelem : ${path}">
                <a href="#"><td th:text="${pathelem}"></td></a>
                <span> ></span>
        </th:block>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <th:block th:each="category : ${categories}">
                    <div class="col-md">
                        <a href="#"><td th:text="${category.getName()}"></td></a>
                    </div>
                </th:block>
            </div>
            <div class="col-md">
                <div class="row">
                    <th:block th:each="category : ${categories}">
                        <div class="col-md-3" style="border: 15px solid #ff0303;">
                            <div class="category" style="border: 15px solid #0037ff;">
                                <div class="category-img">
                                    <a th:href="@{/categories/{category}(category=${category.getEngname()})}"><img th:src="${category.getLink()}" alt=""></a>
                                </div>
                                <p class="category-title">
                                    <a th:href="@{/categories/{category}(category=${category.getEngname()})}"><td th:text="${category.getName()}"></td></a>
                                </p>
                            </div>
                        </div>
                    </th:block>
                </div>
                <th:block th:each="category : ${categories}">
                    <div class="category">
                        <p class="category-title">
                            <td th:text="${category.getName()}"></td>
                        <a  th:href="@{/categories/{category}(category=${category.getEngname()})}">Посмотреть все товары&rarr;</a>
                        </p>
                        <div class="row">
                            <div class="col-md-3">
                                товар
                            </div>
                            <div class="col-md-3">
                                товар
                            </div>
                            <div class="col-md-3">
                                товар
                            </div>
                            <div class="col-md-3">
                                товар
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <div th:replace="general.html :: footer"></div>
</body>
</html>
