<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <link rel="stylesheet" href="css/newcategories.css">
    <style>
        .category-img, .category{
            height: 100%;
            display: grid;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<header th:insert="general.html :: header"> </header>
<div class="container" style="margin-top: 3em; margin-bottom: 3em">
        <div class="row">
            <th:block th:each="category : ${categories}">
                <div class="col-md-4 mb-5 category" style="height: 15em" >
                    <div class="category-img">
                        <a th:href="@{/categories/{category}(category=${category.getEngname()})}"><img
                                th:src="${category.getLink()}" class="shadow" alt=""></a>
                    </div>
                    <div class="text-center pt-4">
                        <a th:href="@{/categories/{category}(category=${category.getEngname()})}"><h5
                                th:text="${category.getName()}"></h5></a>
                    </div>
                </div>
            </th:block>
        </div>
</div>
<div th:replace="general.html :: footer"></div>
</body>
</html>