<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles">
    </th:block>
    <title>Hel</title>
</head>
<body class="d-flex flex-column" >
<header th:insert="general.html :: header"> </header>

<div class="container-fluid my-5 d-sm-flex justify-content-center">
    <div class="card px-2">
        <div class="card-header bg-white">
            <div class="row justify-content-between">
                <div class="col">
                    <p class="text-muted"> Номер заказа: <span class="font-weight-bold text-dark" th:text="${order.getNumber()}"></span></p>
                    <p class="text-muted"> Сумма заказа: <span class="font-weight-bold text-dark" th:text="${order.getPrise()}"></span></p>
                    <p class="text-muted"> Дата оформления заказа: <span class="font-weight-bold text-dark" th:text="${order.getDateSet()}"></span> </p>
                    <p class="text-muted"> Дата получения: <span class="font-weight-bold text-dark" th:text="${order.getDateGet()}"></span></p>
                    <p style="display: inline">Пункт самовывоза: <button type="button" style="display: inline" class="btn btn-outline-info d-flex"><a href="https://www.google.ru/maps/place/%D0%A0%D0%A2%D0%A3+%D0%9C%D0%98%D0%A0%D0%AD%D0%90/@55.6699384,37.4781112,17z/data=!3m1!4b1!4m5!3m4!1s0x46b54dc1d23b51c3:0x74763ed59c81ccb6!8m2!3d55.6699354!4d37.4802999?hl=ru">Рту Мирэа</a></button></p>
                </div>
            </div>
        </div>
        <div id="deleteorder" style="padding: 10px;">
                <div class="text-center">
                    <h3>Вы хотите отменить ваш заказ?</h3>
                    <a  type="button" class="btn btn-danger" th:href="@{/user_info/orders/deleteinfo/{number}(number=${order.getNumber()})}">Да</a>
                    <button  type="button" class="btn btn-success" onclick="delatmpno()">Нет</button>
                </div>
        </div>
        <div   id="orderikinfo">
            <div class="card-body">
                <th:block th:each="product :${order.getProducts()}">
                    <div class="media flex-column flex-sm-row">
                        <div class="media-body ">
                            <h5 style="display: inline">Товар: </h5><h5 class="bold" style="display: inline" th:text="${product.getProduct().getName()}"></h5><br>
                            <p style="display: inline">Количество: </p><p class="text-muted" style="display: inline" th:text="${product.getQuantity()}"></p><br>
                            <h4 style="display: inline">Цена: </h4><h4 class="mt-3 mb-4 bold" style="display: inline" th:text="${product.getProduct().getPrice()*product.getQuantity()}"></h4> <span class="mt-5">&#x20bd;</span><br>
                        </div><img class="align-self-center img-fluid" th:src="${product.getProduct().getLink()}" width="180 " height="180">
                    </div>
                </th:block>

            </div>
            <div class="row px-3">
                <div class="col">
                    <ul id="progressbar">
                        <li class="step0 active text-left" id="step1" >Доставлен на склад</li>
                        <li class="step0 active text-center" id="step21" th:if="${order.getStatus()>0}">Отправлен в пункт самовывоза</li>
                        <li class="step0 active text-right" id="step31" th:if="${order.getStatus()==2}">Готов к получению</li>
                        <li class="step0 text-muted text-center" id="step22" th:if="${order.getStatus()==0}">Отправлен в пункт самовывоза</li>
                        <li class="step0  text-muted text-right" id="step32" th:if="${order.getStatus()<2}">Готов к получению</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer bg-white px-sm-3 pt-sm-4 px-0">
                <div class="row text-center ">
                    <script>
                        function delatmp(){
                            document.getElementById("deleteorder").style.display="block"
                            document.getElementById("orderikinfo").style.display="none"
                        }
                        function delatmpno(){
                            document.getElementById("deleteorder").style.display="none"
                            document.getElementById("orderikinfo").style.display="block"
                        }

                    </script>
                    <div class="col my-auto border-line ">
                        <a onclick="delatmp()" style="text-decoration: none">
                            <h5>Отменить заказ</h5>
                        </a>
                    </div>
                    <div class="col my-auto border-line ">
                        <a th:href="@{/user_info}" style="text-decoration: none;">
                            <h5>Назад</h5>
                        </a>
                    </div>
                    <div class="col my-auto mx-0 px-0 "><img class="img-fluid cursor-pointer" src="https://img.icons8.com/ios/50/000000/menu-2.png" width="30" height="30"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="general.html :: footer"></div>
</body>
</html>